/*MATOUŠ PRAŽÁK 3.IT SPŠ TRUTNOV, ŠKOLNÍ 101*/ 

/*< < < < < < OBECNÉ > > > > > >*/ 

*{
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--color-white);
    text-decoration: none;
    position: relative;   
}
html{
    width: calc(100vw - 10px);
    overflow-x: hidden;
}

#root{
    background-color: var(--color-white);
}


/*< < < < < < VARIABLES > > > > > >*/ 


:root {

    /*< < < MAIN VARIABLES > > >*/ 

    /*SPACE SIZES*/

    --space-size-small-1:5px;
    --space-size-small-2:10px; /*gaps between texts*/

    --space-size-medium-1:15px;
    --space-size-medium-2:20px; /*gaps between paragraphs*/

    --space-size-large-1:25px;
    --space-size-large-2:35px;  /*bigger gaps between paragraphs*/

    /*LEFT, RIGHT SPACE SIZES*/


      
    /*COLORS*/

    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-darkgrey: rgb(25, 25, 25);
    --color-lightgrey: rgb(165, 165, 165);
    --color-grey: rgb(83, 83, 83);
    --color-orange: rgb(255, 131, 122);
    --color-darkorange: rgb(255, 122, 112);

    /*TEXT COLORS*/

    --color-text-white: rgb(255, 255, 255);
    --color-text-black: rgb(0, 0, 0);
    --color-text-darkgrey: rgb(25, 25, 25);
    --color-text-lightgrey: rgb(165, 165, 165);
    --color-text-grey: rgb(83, 83, 83);
    --color-text-orange: rgb(255, 131, 122);
    --color-text-darkorange: rgb(255, 122, 112);

    /*FONT SIZES*/

    --text-size-small-1: 15px;
    --text-size-small-2: 18px;
    --text-size-small-3: 21px;
    --text-size-medium-1: 24px;
    --text-size-medium-2: 27px;
    --text-size-medium-3: 30px;
    --text-size-large-1: 36px;
    --text-size-large-2: 42px;
    --text-size-large-3: 48px;

    /*FONT WEIGHTS*/

    --text-weight-bold: bold;
    --text-weight-bolder: 'Josefin SansB', sans-serif;

    /*TEXT SHADOWS*/

    --text-shadow-lighter: 0px 0px 10px rgba(25, 25, 25, 0.199);
    --text-shadow-light: 0px 0px 10px rgba(25, 25, 25, 0.336);
    --text-shadow-dark: 0px 0px 10px rgba(25, 25, 25, 0.671);
    --text-shadow-darker: 0px 0px 10px rgba(25, 25, 25, 0.671);

    /*< < < SECONDARY VARIABLES > > >*/ 

    /*HEADER FIRSTBLOCK ROZMERY*/

     --first-block-height:80px;

    /*HEADER SECONDBLOCK ROZMERY*/
    --second-block-height:45px;
    --second-header-width:40vw;
    --second-header-paddingTB:calc((var(--second-block-height) - var(--text-size-small-3))/2);
    --second-header-paddingLR:5vw;
    --second-header-units:4;
    --second-header-columns-length: calc(var(--second-header-width) - var(--second-header-paddingLR)*2); 
    --second-header-column-length: calc(var(--second-header-columns-length)/var(--second-header-units));

    /*BODY SLIDER ROZMERY*/

    --slider-unit-height:600px;
 

}
/*< < < < < < VARIABLES MOBILE PHONE> > > > > >*/

@media screen and (max-width: 1000px){

    :root {

        /*< < < MAIN VARIABLES > > >*/ 

        /*< < < SECONDARY VARIABLES > > >*/ 

        /*HEADER SECONDBLOCK ROZMERY*/

        --second-header-width:70vw;
        --second-header-padding:5vw; 

    }
}

@media screen and (max-width: 500px){

    :root {

        /*< < < MAIN VARIABLES > > >*/ 

        /*TEXT SIZES*/

        --text-size-small-1: 17px;
        --text-size-small-2: 18px;
        --text-size-small-3: 19px;
        --text-size-medium-1: 21px;
        --text-size-medium-2: 23px;
        --text-size-medium-3: 25px;
        --text-size-large-1: 28px;
        --text-size-large-2: 31px;
        --text-size-large-3: 8vw;

        /*< < < SECONDARY VARIABLES > > >*/ 

        /*HEADER FIRSTBLOCK ROZMERY*/

        --first-block-height:50px;

        /*BODY SLIDER ROZMERY*/

        --slider-unit-height:400px;

    }

    
    
}


/*< < < < < < FONT-SIZES > > > > > >*/  

.title h1{
    font-size: var(--text-size-medium-2);
    color: var(--color-text-darkgrey);
    font-family: var(--text-weight-bolder);
}
.genders a p{
    font-size: var(--text-size-small-3);
    color: var(--color-text-black);
}

.home-link{
    font-size: var(--text-size-small-3);
    color: var(--color-text-black);
}
.dropbtn{
    font-size: var(--text-size-small-3);
    color: var(--color-lightgrey);
}
.dropdown-content-title{
    font-size: var(--text-size-small-2);
    color: var(--color-text-orange);
    font-weight: var(--text-weight-bold);
    font-family: var(--text-weight-bolder);

}
.dropdown-content-text a{
    font-size: var(--text-size-small-1);
    color: var(--color-text-white);
    font-weight: var(--text-weight-bold);
}
.mobile-menu-main-title{
    font-size: var(--text-size-small-3);
    color: var(--color-text-darkgrey);
    font-weight: var(--text-weight-bold);
    font-family: var(--text-weight-bolder);
}
.mobile-menu-main-text a{
    font-size: var(--text-size-small-2);
    color: var(--color-text-darkgrey);
    font-weight: var(--text-weight-bold);

}
.informace-sekce h4{
    font-size: var(--text-size-medium-3);
    color: var(--color-text-orange);
    font-weight: var(--text-weight-bold);
    text-shadow: var(--text-shadow-dark);

}
.informace-sekce h1{
    font-size: var(--text-size-large-3);
    color: var(--color-text-white);
    font-weight: var(--text-weight-bold);
    font-family: var(--text-weight-bolder);
    text-shadow: var(--text-shadow-dark);
    
}
.button1 p{
    font-size: var(--text-size-small-2);
    color: var(--color-text-darkgrey);
    font-weight: var(--text-weight-bold);
    
}
.favourite-category h2{
    font-size: var(--text-size-large-1);
    color: var(--color-text-darkgrey);
    font-weight: var(--text-weight-bold);

}
.topkategorie p{
    font-size: var(--text-size-small-2);
    color: var(--color-text-white);
    font-weight: var(--text-weight-bold);

}
.motto{
    font-size: var(--text-size-small-3);
    color: var(--color-text-white);

}
.article-parent article h1{
    font-size: var(--text-size-large-3);
    color: var(--color-text-white);
    font-weight: var(--text-weight-bold);
    
}
.button2 p{
    font-size: var(--text-size-small-2);
    color: var(--color-text-grey);
    font-weight: var(--text-weight-bold);
}

/*< < < < < < SCROLL > > > > > >*/  


::-webkit-scrollbar {
	width: 10px;
	background: 0 0
}

::-webkit-scrollbar-track {
	background: var(--color-white);
}

::-webkit-scrollbar-thumb {
	background: var(--color-darkgrey);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-lightgrey);
}


/*< < < < < < BUTTONS > > > > > >*/

#button-change{
    
    position: absolute;
    right: 2vw;
    top: 0;
    z-index: 3;
    transform: translateY(calc(var(--slider-unit-height)/2 - var(--text-size-medium-2)/2));
    cursor: pointer;
    transition: transform 0.5s;
    transition: all 0.5s;
}
#button-change p{

    font-weight: var(--text-weight-bold);
    font-size: var(--text-size-medium-2);
    transition: all 0.5s;
    width: var(--text-size-medium-2);
    height: var(--text-size-medium-2);
    text-align: center; 
    border-radius: 100%;
}


#button-change:hover p{
    box-shadow: 0px 0px 20px var(--color-orange);
    width: var(--text-size-large-2);
    height: var(--text-size-large-2);
    font-size: var(--text-size-large-2);
    color: var(--color-orange);
    
}
#button-change:hover{
    transform: translateY(calc(var(--slider-unit-height)/2 - var(--text-size-large-2)/2));
}

.button1{
    margin-top: var(--space-size-medium-1);
    background-color: var(--color-white);
    padding: 10px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    border-radius: 7px;  
    box-shadow: var(--text-shadow-dark);
}
.button1:hover{
    background-color: var(--color-orange);
    transform: -3px;
    box-shadow: var(--text-shadow-darker);
}
.button1 a p::after{
    content: " >>";
}
.button2{
    margin-top: var(--space-size-medium-1);
    background-color: var(--color-white);
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 7px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: var(--text-shadow-light);
}
.button2:hover{
    transform: translateY(-3px);
    box-shadow: var(--text-shadow-dark);

}
.button2 a p::after{
    content: " >>";
}
/*< < < < < < HEADER > > > > > >*/

#first-block{
    height:var(--first-block-height);
    display: grid;
    grid-template-columns: 3fr 1fr;
    background: var(--color-white);
}
#menu-icon-container{
    display: none;
}
.title h1{
    text-align: left;
    background: linear-gradient(to right, var(--color-darkorange) , var(--color-orange));
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
}
.genders{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.title, .genders{
    margin: auto;
}
.title{
    margin-left: 10% !important; 
}
.genders{
    gap: 10px;
}

.genders a p{
    text-transform: capitalize;
    transition: 0.3s;
    padding: 7px;
    text-align: center;
}
.genders a p:hover{
    text-decoration: underline;
}
.gender-active{
    border: 2px solid var(--color-orange);
    border-radius: 25px;
    font-family: 'Josefin SansB', sans-serif;
}
#second-block{
    width: 100vw;
    height: var(--second-block-height);
    background-color: var(--color-darkgrey);
    border-bottom: 1px solid var(--color-orange);
}
#second-header{
    display: grid;
    grid-template-columns: var(--second-header-column-length) var(--second-header-column-length) var(--second-header-column-length) var(--second-header-column-length);
    padding: var(--second-header-paddingTB) var(--second-header-paddingLR) var(--second-header-paddingTB) var(--second-header-paddingLR);
    z-index: 3;
    background-color: transparent;
    position: absolute;
    width: var(--second-header-width);
}
#mobile-menu{
    display: none;
}
#second-header .dropdown:hover .dropbtn{
    color: var(--color-orange);
}
#second-header .dropdown .dropbtn{
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}

.select-area{
    position: absolute;
    display: none;
    width: 40vw; 
    height: 30px; 
    z-index: 3;
    background-color: transparent;
    transform: translateY();
}
.arrow-up {
    position: absolute;
    display: none;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-bottom: 10px solid var(--color-orange);
    top: 35px;
    left: calc(var(--second-header-column-length)/2 - 15px);
    z-index: 4;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-darkgrey);
    box-shadow: 0px 0px 10px black;
    width: 40vw;
    top: 45px;
    z-index: 3;
    border-radius: 7px;
    padding-bottom: 20px;
    border: 1px solid var(--color-orange);
}
.dropdown-content-title{
    left: 10px;
    margin-top: var(--space-size-small-2);
}
.dropdown-content-text{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: var(--space-size-small-2);
    left: 10px;
}
.dropdown-content-text a{
    margin-top: var(--space-size-small-1);
    text-transform: capitalize;
}
.dropdown:hover .dropdown-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dropdown:hover .arrow-up {
    display: block;
}
.dropdown:hover .select-area {
    display: block;
}
.dropdown-content .dropdown-content-text a:hover {
    text-decoration: underline;
}

/*< < < < < < BODY > > > > > >*/

#third-block{
    width:100vw;
    overflow: hidden;
}

.img-gradient{
    height: 100%;
    width: 100%;
    position: absolute;
    /*background: linear-gradient(160deg, #000000, #c7572b00);*/
    background: radial-gradient( #c7572b00,#000000d3);
    z-index: 2;
}
#slider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width:500vw;
    transition: transform 0.5s;   
}
.slider-unit{
    height: var(--slider-unit-height);
}

.informace-sekce{
    z-index: 3;
    position: absolute;
    left: calc(var(--slider-unit-height)/10);
    bottom:calc(var(--slider-unit-height)/10);
    width: 50%; 
}
.informace-sekce h1{
    margin-top: var(--space-size-small-2);
}
.informace-sekce h4{
    margin-top: var(--space-size-small-2);

}
#fourth-block{
    margin-top: var(--space-size-large-2);
}
.favourite-category{
    margin: 0px 12% 0px 12%;
}
.topkategorie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    border-radius: 7px;
    margin: var(--space-size-large-2) 12% 0 12%;
}
.topkategorie  p{
    text-align: center;
    background-color: var(--color-darkgrey);
    border: 2px solid var(--color-darkgrey);
    transition: 0.3s;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 7px;
}
.topkategorie  p:hover{
    background-color: var(--color-white);
    color: var(--color-darkgrey);
}
#fifth-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--space-size-large-2) 12% 20px 12%;
    z-index: 3;
    border-radius: 7px;
    overflow: hidden;
}
#fifth-block .article-parent{
    padding: 30% 22% 30% 22%;
    background-color: var(--color-orange);
    background: linear-gradient(to right, var(--color-darkorange) , var(--color-orange));
}
.motto{
    text-shadow: var(--text-shadow-light);
}
.article-parent article h1{
    margin-top: var(--space-size-small-2);
    text-shadow: var(--text-shadow-light);
}

/*< < < < < < IMAGES > > > > > >*/
.img-container{
    width: 100%;
    height: 100%;
    background-position: center;
}
#img-container1{
    background-image: url('jacket.jpg');
}
#img-container2{
    background-image: url('example1.jpg');
}
#img-container3{
    background-image: url('example2.jpg');
}
#img-container4{
    background-image: url('jacket.jpg');
}
#img-container5{
    background-image: url('jacket.jpg');
}
.img-of-featured{
    width: 100%;
    height: 100%;
    background-image: url('example2.jpg');
    background-repeat: no-repeat;
    background-position: center;
}


/*< < < < < < SIZES BETWEEN PC AN MOBILE> > > > > >*/

@media screen and (max-width: 800px){

    .topkategorie{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .informace-sekce{
        width: 80%;
    }


}

@media screen and (max-width: 600px){

    .topkategorie{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/*< < < < < < MOBILE PHONE > > > > > >*/

@media screen and (max-width: 500px){

    html{
        width: calc(100vw);
        overflow-x: hidden;
      }
      #first-block{
          
        height:var(--first-block-height);
        grid-template-columns: var(--first-block-height) 2fr 1fr;
        box-shadow: var(--text-shadow-light);
    }
    #first-block .title{
        margin-left: 0% !important;  
    }
    header{
        position: sticky; top: 0;
        z-index: 4;
    }
    #mobile-menu{
        position: absolute;
        display: block;
        height: 0;  
    }
    #menu-icon-container{
        display: block;
        width: 100%;
        height: 100%;
    }
    #menu-icon{
        color: var(--color-darkgrey);
        font-size: calc(var(--first-block-height)/2);
        width: calc(var(--first-block-height)/2);
        z-index: 3;
        cursor: pointer;
        margin: calc(var(--first-block-height)/4);
        text-align: center;
    }
    #cross-icon{
        text-align: right;
        width:25px;
        font-size: 25px;
        top: 25px;
        left: calc(100vw - 65px);
        z-index: 4;
        color: var(--color-darkgrey);
        cursor: pointer;
    }
    #menu-components{
        width: 100vw;
        height: 100vh;
        z-index: 4;
        transition: transform 0.5s, opacity 0.5s;
        transform: translate(-100vw, calc(var(--first-block-height)*-1));
        opacity: 0;
        background-color: var(--color-white);
    }
    .mobile-menu-main{
        padding: 20px;
        margin-left: 20px;
    }
    .mobile-menu-main-title{
        margin-top: var(--space-size-medium-2);
    }
    .mobile-menu-main-text{
        margin-top: var(--space-size-medium-2);
        display: grid;
        grid-template-columns: 1fr;
    }
    .mobile-menu-main-text a{
        padding: 3px;
        text-transform: capitalize;
        margin-top: var(--space-size-small-2);
        border-radius: 25px;
    }
    .mobile-menu-main-text a:hover{
        background-color: var(--color-orange);
    }
    .genders{
        padding: 0px 12.5px 0px 0px;
    }
    .genders a p{
        transition: 0.3s;
        padding: 2.5px;
        font-size: 15px !important;
    }
    #second-block{
        visibility: hidden;
        display: none;
    }
    .topkategorie{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .slider-unit{
        height: var(--slider-unit-height);
    }
    .informace-sekce{
        width: 80%;
        left: 20px;
        bottom:20px;
    }
    #button-change{
        right: 3vw;
        top: 0;
        z-index: 3;
    }
    .favourite-category{
        margin: var(--space-size-large-2) 20px 0 20px;

    }
    .favourite-category h2{
        color: var(--color-black);
    
    }
    .topkategorie{
        display: grid;
        border-radius: 7px;
        margin: var(--space-size-large-2) 20px 0 20px;
        gap: 15px;
    
    }
    .topkategorie p{
        padding: 10px;
    }
    #fifth-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: var(--space-size-large-2) 20px 0 20px;
        background-color: var(--color-orange);
        z-index: 3;
    
    }
    #fifth-block .article-parent{
        padding: 25% 10px 25% 10px;
    
    }

}


